<!Doctype html>
{% load static %}
<html>
<head>
    <title>Elon Musk</title>
    <link rel="stylesheet" href="{% static "style.css" %}">
    {% block content1 %}

    {% endblock %}
</head>
<body>
    <h1>Elon Musk co-founded and leads Tesla, SpaceX, Neuralink and The Boring Company. As the
        co-founder and CEO of Tesla, Elon leads all product design, engineering and global manufacturing
        of the company's electric vehicles, battery products and solar energy products.</h1>
    {% block content %}

    {% endblock %}
</body>
</html>