<!Doctype html>
{% load static %}
<html>
    <head>
        <title>Elon Musk</title>
        <link rel="stylesheet" href="{% static "style.css" %}">
        {% block content1 %}

        {% endblock %}
    </head>
    <body>
        <div>
            <h1>Elon Reeve Musk EE-lon; born June 28, 1971) is a businessman and investor. Musk is the founder, chairman,
                CEO and chief technology officer of SpaceX; angel investor, CEO, product architect and former chairman
                of Tesla, Inc.; owner, chairman and CTO of X Corp.; founder of the Boring Company; co-founder of Neuralink
                and OpenAI; and president of the Musk Foundation.</h1>
        </div>
        {% block content %}

        {% endblock %}
    </body>
</html>